* {
  box-sizing: border-box;
  width: auto;
}

body {
  display: flex;
  justify-items: center;
  padding: 0px;
  margin: 10px;
}

.calculator {
  width: 500px;
  background-color: white;
  color: white;
  align-items: center;
}

.screen {
  color: black;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  text-align: right;
  padding: 20px 5px;
  border: 2px solid black;
}

.calculator-button {
  background-color: gainsboro;
  color: black;
  height: 100px;
  width: 24.5%;
  border: none;
  border-radius: 0;
  font-size: 40px;
  cursor: pointer;
}
.color {
  color: orangered;
}

.equal {
  border-radius: 50%;
}

.calculator-button:hover {
  background-color: #ebebeb;
}

.calculator-button:active {
  background-color: white;
}

.triple {
  width: 75%;
}

.calculator-button:last-child {
  background-color: #ebebeb;
  color: orangered;
}

.calculator-button:last-child:hover {
  background-color: gainsboro;
}

.calculator-button:last-child:active {
  background-color: white;
}

.calculator-button-row {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 0.5%;
}

.calculator-button-row:last-child {
  padding-bottom: 0;
}
